<!DOCTYPE html>
<html>
<head>
  <title>Pick a color, noun and adjective.</title>
</head>
<body>
    
    <form action="/madlib">
        <br>
         Please enter your choices below:  
         <br>
         <br>
        <label for= "field-color"> Color:</label>
        <input type="text" name="userInput" value="color"></label> <br>
        <br>
        <label for= "field-noun"> Noun:</label>
        <input type="text" name="userInput" value="noun"> <br>
        <br>
        <label for= "field-adjective"> Adjective:</label>
        <input type="text" name="userInput" value="adjective"> <br>
        
        <br><br>
        
        <input type = "submit">
        
    </form>


</body>
</html>